<h1>Train information</h1>

<h3>Stations</h3>
<div class="list-group">
  <% @stations.each do |station| %>
    <%= link_to station.name, station_path(station), :class => "list-group-item"%>
  <% end %>
</div>

<%= link_to "New Station", new_station_path, :class => "btn btn-primary" %>
